.page-content {
	min-height: calc(100vh - 148px);
}

.mdl-layout-title a {
	color: rgba(255,255,255,0.87);	
	text-decoration: none;
}

.mdl-layout-title a:hover {
	opacity: 0.7;
}

.storanonymizer__home-button {
	margin-left: 16px;
}

.mdl-layout__header {
	color: rgba(255,255,255,0.87);
}

.mdl-layout__drawer-button {
	color: rgba(255,255,255,0.87) !important;
}

.mdl-layout__drawer {
	
}

.storanonymizer__creation-bar {
	width: 100%;
	padding: 24px 40px 24px 80px;
	box-sizing: border-box;
	-webkit-display: flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.storanonymizer__about-story {
	color: #eaeaea;
	font-size: 1.2rem;
	line-height: 1.8rem;
	word-spacing: 0.1rem;
}

.storanonymizer__new-story-form {
	padding: 64px 32px;
	-webkit-display: flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.storanonymizer__story-list {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.storanonymizer__story-list-item {
	padding: 16px;
	margin-top: 24px;
	box-sizing: border-box;
}

.storanonymizer__story-list-item__title a {
	text-decoration: none;
	color: rgba(0,0,0,0.87);
	font-size: 1.4rem;
}

.storanonymizer__story-list-item__user {
	color: rgba(0,0,0,0.6);
}

.storanonymizer__title-bar {
	padding: 24px 40px 24px 80px;
}

.storanonymizer__title-bar__title {
	margin: 0;
}

.storanonymizer__title-bar__subtitle {
	opacity: 0.7;
	font-size: 1.2rem;
}

.storanonymizer__sub-bar {
	padding: 16px;
	background: rgba(0,0,0,0.1);
	text-align: center;
}

.storanonymizer__sub-bar a {
	text-decoration: none;
	color: rgba(0,0,0,0.87);
}

.storanonymizer__sub-bar a:hover {
	color: rgba(0,0,0,0.6);
}

.storanonymizer__settings-group {
	-webkit-display: flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.storanonymizer__settings-item {
	padding: 16px;
	-webkit-display: flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.storanonymizer__contribution-form {
	-webkit-justify-content: center;
	justify-content: center;
}

.storanonymizer__contribution-form textarea {
	height: calc(100vh - 145px);
	overflow: visible;
	resize: none;
	line-height: 1.8rem;
	word-spacing: 0.15rem;
}

.mdl-textfield__input.mobile {
	display: none !important;
}

.storanonymizer__contribution-wrapper {
	-webkit-display: flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
}

.storanonymizer__contribution {
	padding: 32px;
	width: 40vw;
	max-width: 100%;
	margin-top: -100px;
	margin-bottom: 16px;
}

.storanonymizer__contribution__title {
	font-size: 1.6rem;
}

.storanonymizer__contribution__sub-title a {
	color: rgba(0,0,0,0.6);
	text-decoration: none;
}

.storanonymizer__contribution__sub-title a:hover {
	color: rgba(0,0,0,0.4);
}

.storanonymizer__contribution__sub-title {
	font-size: 1.2rem;
	color: rgba(0,0,0,0.5);
}

.storanonymizer__contribution__text p {
	word-spacing: 0.2rem;
	line-height: 1.8rem;
	font-size: 1.3rem;
	max-width: 100%;
}

.mdl-mini-footer {
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: #f0f0f0;
	color: #666;
}

.storanonymizer__credits a {
	color: #424242;
}

.storanonymizer__error {
	box-sizing: border-box;
	padding: 0 20px;
	margin-bottom: 32px;
	margin-top: 0;
}

.storanonymizer__error h6 {
	margin-top: 16px;
	font-size: 1.1rem;
	text-align: center;
}

.storanonymizer__colored-background-bar {
	width: 100vw;
	height: 200px;
	z-index: -1;
}

.strike { text-decoration: line-through; }
.bold { font-weight: bold; }
.italic { font-style: italic; }

::selection {
	background: rgba(0,0,0,0.2);
}

::-moz-selection {
	background: rgba(0,0,0,0.2);
}

hr {
	border-top: 1px solid rgba(0,0,0,.1);
	width: 100%;
}

@media (max-width: 1024px) {
	.page-content {
		min-height: calc(100vh - 140px);
	}

	.storanonymizer__home-button {
		margin-left: 4px;
	}

	.storanonymizer__contribution {
		padding: 16px;
		width: 60vw;
	}
}

@media (max-width: 840px) {
	.storanonymizer__contribution-form textarea {
		height: calc(100vh - 189px);
	}

	.mdl-textfield__input.desktop {
		display: none !important;
	}
	.mdl-textfield__input.mobile {
		display: block !important;
	}

	.storanonymizer__creation-bar {
		padding-left: 16px;
		padding-right: 16px;
	}

	.storanonymizer__title-bar {
		padding-left: 16px;
		padding-right: 16px;
	}
}

@media (max-width: 512px) {
	.storanonymizer__contribution {
		width: 100vw;
		margin-top: 0;
	}

	.storanonymizer__colored-background-bar {
		display: none;
	}
}