<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

		<!--link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"-->
		<link rel="stylesheet" href="{{ url_for('static', filename='tweaks.css') }}">

		{% if title %}
		<title>{{ title }}</title>
		{% else %}
		<title>Story Anonymizer</title>
		{% endif %}
	</head>
	<body>
		<nav class="navbar navbar-light">
			<a href="{{ url_for('index') }}" class="navbar-brand font-weight-bold">Storanonymizer</a>
			<div class="dropdown dropleft">
				{% if current_user.is_authenticated %}
				<button class="btn btn-outline-secondary dropdown-toggle" type="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{ current_user.name }}
				</button>
				<div class="dropdown-menu" aria-labelledby="userMenu">
					<a class="dropdown-item" href="{{ url_for('my_stories') }}">Your stories</a>
					<a class="dropdown-item" href="{{ url_for('my_contributions') }}">Your contributions</a>
					<!--a class="dropdown-item" href="#">Settings</a-->
					<a class="dropdown-item text-danger" href="{{ url_for('logout') }}">Log out</a>
				</div>
				{% else %}
				<div>
					<a class="btn btn-outline-dark" href="{{ url_for('register') }}">Sign up</a>
					<a class="btn btn-primary" href="{{ url_for('login') }}">Login</a>
				</div>
				{% endif %}
			</div>
		</nav>
		{% block content %}{% endblock %}

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		<script data-goatcounter="https://escape.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
		{% block scripts %}{% endblock %}
	</body>
</html>
