{% extends "base-auth.html" %}

{% block content %}
<div class="container-fluid">
	<div class="col-12 col-md-6 col-lg-4 col-xl-3 pt-5 pb-5">
		<a href="{{ url_for('index') }}"><h5 class="text-center">Storanonymizer</h5></a>
		<div class="card bg-white">
		<div class="card-body">
			<h4 class="card-title">Login</h4>
			{% if get_flashed_messages() %}
			<p class="card-text text-secondary"><span class="text-danger">Oh dear, it seems like you do not even recall yourself correctly.</span> Please have another try at authenticating yourself.</p>
			{% else %}
			<p class="card-text text-secondary">Please kindly remind us who you were again exactly. Not that we do not remember, but ehh, just in case.</p>
			{% endif %}
			<form action="login" method="post">
				<div class="form-group">
					<input type="text" class="form-control" name="name" placeholder="Name">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name="password" placeholder="Password">
				</div>
				<div class="form-group text-center">
					<input type="submit" value="Login" class="btn">
				</div>
			</form>
		</div>
		</div>
	</div>
</div>
{% endblock %}
