{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Your contributions</h1>
	</div>
</div>

<div class="container">
	{% for m in get_flashed_messages() %}
	<p class="text-danger">{{ m }}</p>
	{% endfor %}
	<div class="row justify-content-center">
		{% for c in contributions %}
		<div class="col-10 col-md-4 col-lg-3 mb-4">
			<div class="card clickable">
				<div class="card-body">
					<h5 class="card-title"><a class="text-dark font-weight-bold" href="{{ url_for('contribution', contribution_code=c.code) }}">
						{{ c.code }}</a>
						{% if c.round.public_votes and c.id == c.round.winning_contribution_id|int %}
						<span class="badge badge-success">Winner</span>
						{% endif %}
					</h5>
					<h6 class="card-subtitle text-secondary mb-2">Contribution to {{ c.round.name }} in {{ c.round.story.name }}</h6>
					<p class="card-text" style="font-size: 0.9rem;">{{ c.text|truncate|safe }}</p>
					<a href="{{ url_for('contribution', contribution_code=c.code) }}" class="card-link">Read</a>
					{% if c.round.public_contributions == False %}
					<a href="{{ url_for('delete_contribution', contribution_code=c.code) }}" class="card-link text-danger">Delete</a>
					{% endif %}
				</div>
			</div>
		</div>
		{% else %}
		<h6 class="alert alert-light text-center">You have made no contributions yet!</h6>
		{% endfor %}
	</div>
</div>
{% endblock %}
