{% extends "base.html" %}

{% block content %}

<div class="storanonymizer__creation-bar mdl-color--primary">
	<a class="mdl-button mdl-js-button mdl-color-text--white" href="{{ url_for('new_story') }}"><i class="material-icons mdl-color-text--white">add</i> New Story</a>
</div>

<div class="storanonymizer__story-list mdl-grid">
{% for s in stories %}
	<div class="storanonymizer__story-list-item mdl-cell--4-col mdl-shadow--4dp">
		<div class="storanonymizer__story-list-item__title"><a href="/story/{{ s.id }}">{{ s.name }}</a></div>
		<div class="storanonymizer__story-list-item__user">created by {{ s.user.name }}</div>
	</div>
{% endfor %}
</div>

{% endblock %}