{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Your stories</h1>
	</div>
</div>

<div class="container">
	<div class="row">
		{% for s in stories %}
		<div class="col-12 col-md-6 mb-4">
			<div class="card clickable bg-white">
				<a href="{{ url_for('story', story_code=s.code) }}"><img class="card-img-top" src="{{ url_for('static', filename=s.name + '.jpeg') }}"></a>
				<div class="card-body">
					<h5 class="card-title"><a class="text-dark font-weight-bold" href="{{ url_for('story', story_code=s.code) }}">{{ s.name }}</a></h5>
					<p class="card-text"><span class="badge badge-dark">{{ s.rounds|length }} rounds</span> <span class="badge badge-primary">{{ s.contributors|length }} participants</span></p>
					<a href="{{ url_for('story', story_code=s.code) }}" class="card-link">View</a>
				</div>
			</div>
		</div>
		{% else %}
		<h6>You have started no stories yet!</h6>
		{% endfor %}
	</div>
</div>

{% endblock %}
