{% extends "base.html" %}

{% block content %}

<form action="contribution" method="post" class="storanonymizer__contribution-form mdl-grid">
	<div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--6-col">
		<textarea class="mdl-textfield__input" type="text" name="text" id="new-contribution"></textarea>
		<label class="mdl-textfield__label" for="new-contribution">Write your contribution here..</label>
	</div>
	<div class="mdl-cell mdl-cell--4-col">
		<input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" value="Submit">
	</div>
</form>

{% endblock %}