{% extends "base.html" %}

{% block content %}
<div class="jumbotron bg-white mb-0">
	<div class="container">
		<h1>New contribution</h1>
		<p class="lead"><a href="{{ url_for('story', story_code=round.story.code) }}">{{ round.story.name }}</a> / <a href="{{ url_for('round', round_code=round.code) }}">{{ round.name }}</a></p>
	</div>
</div>

<div  class="container">
	<div class="row">
		<form action="contribution" class="col-12" method="post">
			<div class="row">
				<div class="form-group col-12 col-lg-8">
					<textarea class="form-control" name="text" placeholder="Make sure to eventually put your contribution here.." style="height: 40vh;"></textarea>
				</div>
				<div class="form-group col-12 col-lg-4">
					<input type="submit" class="btn btn-success" value="Submit">
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
