{% extends "base.html" %} 

{% block content %}
<div class="jumbotron bg-white">
	<div class="container">
		<h1 class="display-4">{{ round.name }}</h1>
		<p class="lead">Round in the story <a href="{{ url_for('story', story_code=round.story.code) }}">{{ round.story.name }} </a></p>
		{% if current_user.is_authenticated and not round.voting and not userHasContributed %}
		<a class="btn btn-outline-success" href="{{ url_for('new_contribution', round_code=round.code) }}">New</a>
		{% endif %}
		{% if round.voting or round.public_votes %}
		<a class="btn btn-light" href="{{ url_for('votes', round_code=round.code) }}">Votes</a>
		{% endif %}
		<a class="btn btn-light" href="#">Statistics</a>
		{% if current_user.id == round.story.user.id %}
		<a class="btn btn-light" href="{{ url_for('round_settings', round_code=round.code) }}">Settings</a>
		{% endif %}
	</div>
</div>

<div class="container">
	{% if round.public_contributions %}
	{% if round.contributions|length > 0 %}
	<div class="row">
		{% for c in contributions %}
		<div class="col-12 col-md-6 mb-4">
			<div class="card shadow-sm">
				<div class="card-body">
					<h5 class="card-title"><a class="text-dark font-weight-bold" href="{{ url_for('contribution', contribution_code=c.code) }}">{{ c.code }}</a></h5>
					{% if c.author.id == current_user.id %}
					<h6 class="card-subtitle mb-2 text-muted">written by me</h6>
					{% else %}
					{% if round.public_authors %}
					<h6 class="card-subtitle mb-2 text-muted">written by <span class="font-weight-bold">{{ c.author.name }}</span></h6>
					{% endif %}
					{% endif %}
					<p class="card-text">{{ c.text|truncate|safe }}</p>
					<a href="{{ url_for('contribution', contribution_code=c.code) }}" class="card-link">Read</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	{% else %}
	<h6 class="font-italic">No contributions submitted!</h6>
	{% endif %}
	
	{% else %}
	{% if round.contributions|length > 0 %}
	<h6 class="font-italic"><span class="font-weight-bold">{{ round.contributions|length }}</span> contributions submitted!</h6>
	{% else %}
	<h6 class="font-italic">No contributions submitted yet!</h6>
	{% endif %}
	
	{% endif %}
</div>
{% endblock %}
