{% extends "base.html" %}

{% block content %}
<div class="jumbotron bg-white mb-0">
	<div class="container">
		<h1>Round settings</h1>
		<p class="lead"><a href="{{ url_for('story', story_code=round.story.code) }}">{{ round.story.name }}</a> / <a href="{{ url_for('round', round_code=round.code) }}">{{ round.name }}</a></p>
	</div>
</div>

<div class="container">
	<div class="row justify-content-center">
		<!-- 1. public contributions -->
		<div class="col-12 col-lg-6 card mb-3">
			<div class="card-body">
				<h5 class="custom-control custom-switch card-title">
					<input type="checkbox" class="custom-control-input" id="public-contributions-switch" {% if round.public_contributions %}checked{% endif %}>
					<label class="custom-control-label" for="public-contributions-switch">Public Contributions</label>
				</h5>
				<p class="card-text">Publishes all contributions submitted to {{ round.name }} such that they can be read by anyone accessing the website.</p>
				
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<!-- 2. public authors -->
		<div class="col-12 col-lg-6 card mb-3">
			<div class="card-body">
				<h5 class="custom-control custom-switch card-title">
					<input type="checkbox" class="custom-control-input" id="public-authors-switch" {% if round.public_authors %}checked{% endif %}>
					<label class="custom-control-label" for="public-authors-switch">Public Authors</label>
				</h5>
				<p class="card-text">Publishes the name of the author alongside all contributions submitted to {{ round.name }}.</p>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<!-- 3. voting -->
		<div class="col-12 col-lg-6 card mb-3">
			<div class="card-body">
				<h5 class="custom-control custom-switch card-title">
					<input type="checkbox" class="custom-control-input" id="voting-switch" {% if round.voting %}checked{% endif %}>
					<label class="custom-control-label" for="voting-switch">Voting</label>
				</h5>
				<p class="card-text">Enables the possibility for authenticated users to vote on contributions submitted to {{ round.name }}.</p>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<!-- 4. public votes -->
		<div class="col-12 col-lg-6 card mb-4">
			<div class="card-body">
				<h5 class="custom-control custom-switch card-title">
					<input type="checkbox" class="custom-control-input" id="public-votes-switch" {% if round.public_votes %}checked{% endif %}>
					<label class="custom-control-label" for="public-votes-switch">Public Votes</label>
				</h5>
				<p class="card-text">Publishes all cast votes and the total score of all contributions in {{ round.name }}.</p>
			</div>
		</div>
	</div>
	
	<div class="row justify-content-center">
		<div class="col-12 col-lg-4 card mb-4">
			<div class="card-body">
				<p class="card-text">Remove <span class="font-italic">{{ round.name }}</span> from the story <span class="font-italic">{{ round.story.name }}</span>. Beware that this can not be undone!</p>
				<a href="{{ url_for('delete_round', round_code=round.code) }}" class="card-link btn btn-danger">Delete</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

	document.querySelector('#public-authors-switch').addEventListener('change', function() {
		var req = new XMLHttpRequest();
		req.open('GET', 'toggle/publicauthors', true);
		req.send();
	});

	document.querySelector('#public-contributions-switch').addEventListener('change', function() {
		var req = new XMLHttpRequest();
		req.open('GET', 'toggle/publiccontributions', true);
		req.send();
	});

	document.querySelector('#voting-switch').addEventListener('change', function() {
		var req = new XMLHttpRequest();
		req.open('GET', 'toggle/voting', true);
		req.send();
	});

	document.querySelector('#public-votes-switch').addEventListener('change', function() {
		var req = new XMLHttpRequest();
		req.open('GET', 'toggle/publicvotes', true);
		req.send();
	});

</script>
{% endblock %}
