{% extends "base.html" %}

{% block content %}
<div class="jumbotron bg-white mb-0">
	<div class="container">
		<h1>Scoreboard</h1>
		<p class="lead"><a href="{{ url_for('story', story_code=story.code) }}">{{ story.name }}</a></p>
	</div>
</div>

<div class="container">
	<!--div class="row">
		<div class="card col-12">
			<div class="card-body"-->
				<table class="table">
					<thead>
						<tr>
							<th>Author</th>
							<th>Total</th>
							<th>Average</th>
						</tr>
					</thead>
					<tbody>
						{% for entry in ranking %}
						<tr>
							<td>{{ entry.author }}</td>
							<td>{{ entry.score }}</td>
							<td>{{ '%0.2f'|format(entry.avg|float) }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			<!--/div>
		</div>
	</div-->
</div>
{% endblock %}
