{% extends "base.html" %} 

{% block content %}
<div class="jumbotron bg-white mb-0">
	<div class="container">
		<h1 class="display-4">{{ story.name }}</h1>
		<a class="btn btn-light" href="{{ url_for('full_story', story_code=story.code) }}">Story</a>
		<a class="btn btn-light" href="{{ url_for('story_scoreboard', story_code=story.code) }}">Score</a>
		{% if current_user.id == story.user.id %}
		<!--a class="btn btn-outline-success" href="{{ url_for('new_round', story_code=story.code) }}">New</a>
		<a class="btn btn-outline-danger" href="{{ url_for('prompt_delete_story', story_code=story.code) }}">Delete</a-->
		<a class="btn btn-light" href="#">Settings</a>
		{% endif %}
	</div>
</div>

<div class="container">
	{% for round in rounds %}
	<div class="row">
		<div class="col-12 col-md-6 mb-4">
			<div class="card shadow-sm">
				<div class="card-body">
					<h5 class="card-title"><a class="text-dark font-weight-bold" href="{{ url_for('round', round_code=round.code) }}">{{ round.name }}</a></h5>
					<p class="card-text">{{ round.contributions|length }} {% if round.contributions|length != 1 %}contributions{% else %}contribution{% endif %}{% if round.public_contributions%} <span class="badge badge-primary">published</span> {% else %} <span class="badge badge-secondary">open</span> {% endif %}{% if round.voting %} <span class="badge badge-secondary">voting</span> {% endif %}{% if round.public_votes %} <span class="badge badge-warning">voted</span> {% endif %}</p>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
