{% extends "base.html" %}

{% block content %}

<div class="storanonymizer__title-bar mdl-color--primary mdl-color-text--white">
	<h4 class="storanonymizer__title-bar__title">{{ story.name }}</h4>
	<div class="storanonymizer__title-bar__subtitle">created by {{ story.user.name }}</div>
	{% if story.voting or story.public_votes %}
	<a class="storanonymizer__voting-button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" id="voting-button" href="{{ url_for('votes', story_code=story.code) }}">
  		<i class="material-icons">assessment</i>
	</a>
	<div class="mdl-tooltip mdl-tooltip--right" for="voting-button">
		Votes
	</div>
	{% endif %}
</div>

{% if (current_user.is_authenticated and not story.voting) or current_user.id == story.user.id %}
<div class="storanonymizer__sub-bar">
	{% if not story.voting and not userHasContributed %}
	<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--accent" href="{{ url_for('new_contribution', story_code=story.code) }}"><i class="material-icons">add</i> Contribution</a>
	{% endif %}
	{% if current_user.id == story.user.id %}
	<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored" href="{{ url_for('story_settings', story_code=story.code)}}">Settings <i class="material-icons">settings</i></a>
	{% endif %}
</div>
{% endif %}

{% with messages = get_flashed_messages() %}
	{% if messages %}
		<div class="storanonymizer__error mdl-cell mdl-cell--4-col mdl-shadow--4dp mdl-color--red">
		{% for m in messages %}
			<h6 class="mdl-color-text--white">
				{{ m }}
			</h6>
		{% endfor %}
		</div>
	{% endif %}
{% endwith %}

<div class="storanonymizer__story-list mdl-grid">
{% if story.public_contributions %}
{% for c in contributions %}
	<div class="storanonymizer__story-list-item mdl-cell--5-col mdl-cell--6-col-tablet mdl-shadow--4dp">
		<div class="storanonymizer__story-list-item__title"><a href="{{ url_for('contribution', contribution_code=c.code) }}"><span class="bold">{{ c.code }}</span>{% if story.public_authors %} | written by {{ c.author.name }} {% else %} {% if c.author.id == current_user.id %} | written by me{% endif %}{% endif %}</a></div>
		<div class="storanonymizer__story-list-item__user">{{ c.text|truncate }}</div>
		{% if current_user.id == c.author.id %}
		<hr>
		<a href="{{ url_for('delete_contribution', contribution_code=c.code) }}" class="mdl-button mdl-js-button mdl-color-text--red">Delete</a>
		{% endif %}
	</div>
{% else %}
	<h6>No contributions yet!</h6>
{% endfor %}
{% else %}
	<h6>No contributions published yet!</h6>
	{% if story.contributions|length > 0 %}
	<p><span class="italic">{{ story.contributions|length }} contributions submitted</span></p>
	{% endif %}
{% endif %}
</div>

{% endblock %}