{% extends "base.html" %}

{% block content %}
<div class="jumbotron bg-white mb-0">
	<div class="container">
		<h1>Votes</h1>
		<p class="lead"><a href="{{ url_for('story', story_code=round.story.code) }}">{{ round.story.name }}</a> / <a href="{{ url_for('round', round_code=round.code) }}">{{ round.name }}</a></p>
		{% if round.voting %}
		<span class="badge badge-secondary">in progress</span>
		{% endif %}
		{% if round.public_votes %}
		<span class="badge badge-warning">finished</span>
		{% endif %}
	</div>
</div>

<div class="container">
	{% for c in ranking %}
	{% if c.id == round.winning_contribution_id|int %}
	<div class="row">
		<p class="col-12">{{ c.author.name }} has won this round! Congratulations! They had a {{ chance }}% chance of winning based on the vote distribution.</p>
	</div>
	{% endif %}
	{% endfor %}
	<div class="row">
		<!-- First: results -->
		{% if round.public_votes %}
		<div class="card col-12 col-md-6">
			<div class="card-body">
				<h4 class="card-title">Results</h4>
				<table class="table table-sm">
					<thead>
						<tr>
							<th>Points</th>
							<th>Contribution</th>
							{% if round.public_authors %}
							<th>Author</th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for contribution in ranking|sort(True, attribute='total_score') %}
						<tr>
							<td>{{ contribution.total_score }}</td>
							<td><a href="{{ url_for('contribution', contribution_code=contribution.code) }}">{{ contribution.code }}</a></td>
							{% if round.public_authors %}
							<td>
							{{ contribution.author.name }}
							{% if contribution.id == round.winning_contribution_id|int %}
							<span class="badge badge-success">Winner ({{ chance }}%)</span>
							{% endif %}
							</td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		{% endif %}
		
		<!-- Second: account votes -->
		{% if (round.voting or round.public_votes) and round.public_contributions and current_user.is_authenticated %}
		<div class="card col-12 col-md-6 col-xl-5 {% if round.public_votes %}offset-xl-1{% endif %}">
			<div class="card-body">
				<h4 class="card-title">Your votes</h4>
				<table class="table table-sm">
					<thead>
						<tr>
							<th>Points</th>
							<th>Contribution</th>
							{% if round.public_authors %}
							<th>Author</th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
					{% for v in user_votes %}
						{% if v.bonus_type == Bonus.NONE or v.bonus_type == None %}
						<tr>
							<td>{{ v.value }}</td>
							<td><a href="{{ url_for('contribution', contribution_code=v.contribution.code) }}">{{ v.contribution.code }}</a></td>
							{% if round.public_authors %}
							<td>{{ v.contribution.author.name }}</td>
							{% endif %}
						</tr>
						{% endif %}
					{% endfor %}
					{% for v in user_votes %}
						{% if v.bonus_type == Bonus.ORIGINALITY %}
						<tr>
							<td><span class="badge badge-secondary">Originality (3)</span></td>
							<td><a href="{{ url_for('contribution', contribution_code=v.contribution.code) }}">{{ v.contribution.code }}</a></td>
							{% if round.public_authors %}
							<td>{{ v.contribution.author.name }}</td>
							{% endif %}
						</tr>
						{% elif v.bonus_type == Bonus.STYLE %}
						<tr>
							<td><span class="badge badge-secondary">Style (3)</span></td>
							<td><a href="{{ url_for('contribution', contribution_code=v.contribution.code) }}">{{ v.contribution.code }}</a></td>
							{% if round.public_authors %}
							<td>{{ v.contribution.author.name }}</td>
							{% endif %}
						</tr>
						{% endif %}
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		{% endif %}
	</div>
	
	<!-- Third: all votes split by voter -->
	{% if round.public_votes %}
	<h4 class="card-title text-center mt-4 mb-4"><a class="btn btn-outline-primary" data-toggle="collapse" href="#allvotes" role="button" aria-expanded="false" aria-controls="allvotes">All votes</a></h4>
	<div class="card-text row collapse" id="allvotes">
	{% for group in all_votes|groupby('user.name') %}
	<div class="card card-body col-12 col-md-6 col-xl-4">
		<h5 class="card-title">{{ group.grouper }}</h5>
		<table class="table table-sm">
			<thead>
				<tr>
					<th>Points</th>
					<th>Contribution</th>
					{% if round.public_authors %}
					<th>Author</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for v in group.list|sort(True, attribute='value') %}
				{% if v.bonus_type == Bonus.NONE or v.bonus_type == None %}
				<tr>
					<td>{{ v.value }}</td>
					<td><a href="{{ url_for('contribution', contribution_code=v.contribution.code) }}">{{ v.contribution.code }}</a></td>
					{% if round.public_authors %}
					<td>{{ v.contribution.author.name }}</td>
					{% endif %}
				</tr>
				{% endif %}
				{% endfor %}
				{% for v in group.list|sort(True, attribute='value') %}
				{% if v.bonus_type == Bonus.ORIGINALITY %}
				<tr>
					<td><span class="badge badge-secondary">Originality (3)</span></td>
					<td><a href="{{ url_for('contribution', contribution_code=v.contribution.code) }}">{{ v.contribution.code }}</a></td>
					{% if round.public_authors %}
					<td>{{ v.contribution.author.name }}</td>
					{% endif %}
				</tr>
				{% elif v.bonus_type == Bonus.STYLE %}
				<tr>
					<td><span class="badge badge-secondary">Style (3)</span></td>
					<td><a href="{{ url_for('contribution', contribution_code=v.contribution.code) }}">{{ v.contribution.code }}</a></td>
					{% if round.public_authors %}
					<td>{{ v.contribution.author.name }}</td>
					{% endif %}
				</tr>
				{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endfor %}
	</div>
	{% endif %}
</div>
{% endblock %}
